<div class="section">
	<div class="displayTable">
		<div class="displayTableCell">
			<form [formGroup]="loginForm">
				<div class="authBlock">
					<h3>Přihlášení</h3>
					<div class="formGroup">
						<input formControlName="email"
							   autocomplete="email"
							   autofocus
							   required>
					</div>

					<div class="formGroup">
						<input type="password"
							   formControlName="password"
							   autocomplete="current-password"
							   required>
					</div>

					<!-- Calling SignIn Api from AuthService -->
					<div class="formGroup">
						<button class="btn-primary"
								(click)="signIn()"
						> Přihlásit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

