.displayTable{
    display: flex;
    justify-content: center;
  }
  .formGroup{
    width: 100%;
    margin-bottom: 15px;
  }

  input{
    border: 1px solid #f2f3f4;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    align-items: center;
    background-color: white;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 15px;
    text-align: center;
    transition-duration: .5s;
    &:hover, &:focus, &:active{
      border: 1px solid #33FF8D;
      outline-width: 0;
    }
    width: 100%;
  }

  hr {
    border: .5px solid #ccc;
    width: 50%;
    margin: 10px auto;
  }

  .btn-primary{
    background-color: #33FF8D;
    border: 1px solid #33FF8D;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    color: white;
    width: 100%;
    &:hover{
      transition-duration: .5s;
      background-color: #21a85c;
      color: white;
      border: 1px solid #21a85c;
    }
    cursor: pointer;
  }
