<div class="section flex wrap column">
	<label class="flex column">
		Jméno a příjmení
		<input type="text" [(ngModel)]="userName">
	</label>
	<button (click)="updateProfile()" class="btn-primary">Upravit jméno</button>
</div>
