.btn-primary{
  background-color: #33FF8D;
  border: 1px solid #33FF8D;
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
  color: white;
  width: 100%;
  &:hover{
    transition-duration: .5s;
    background-color: #21a85c;
    color: white;
    border: 1px solid #21a85c;
  }
  cursor: pointer;
}
