<h2 class="hp-title">Fotogalerie</h2>
<div class="section flex wrap column">
    <h3>
        Aktuálně na Google photos
    </h3>
    <div class="links">
        <div class="link">
            <a href="https://photos.app.goo.gl/sxqyurWSQxcHHYrJ7">
                Album Školní rok 2019/2020
            </a>
        </div>
        <div class="link">
            <a href="https://photos.app.goo.gl/hk9bgUZZZGYXzXVZ6">
                Album Školní rok 2020/2021
            </a>
        </div>
        <div class="link">
            <a href="https://photos.app.goo.gl/awdoiwx9mraiLiYM6">
                Album Školní rok 2021/2022
            </a>
        </div>
        <div class="link">
            <a href="https://photos.app.goo.gl/v3qe72mPuFFWwbx76">
                Album Školní rok 2022/2023
            </a>
        </div>
    </div>
</div>
