<h2 class="hp-title">Kontakty</h2>
<div class="flex section contact-section">
    <div class="flex grid">
        <div *ngFor="let item of data">
            <p>{{item.title}}</p>
            <p>{{item.data}}</p>
        </div>
    </div>
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2599.0718163583306!2d17.432043715866598!3d49.35078927386329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471307802f19f82f%3A0x37b2f907d4ed5828!2zQsWZZXN0IDIyNywgNzY4IDIzIELFmWVzdA!5e0!3m2!1scs!2scz!4v1602071449075!5m2!1scs!2scz" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
