.row{
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  @media screen and (min-width: 601px) {
    flex-direction: row;
    margin-bottom: 7px;
  }
  p{
    margin-bottom: 10px;
    &:first-of-type{
      justify-content: right;
      font-weight: 700;
      margin-right: 30px;
    }
  }    
}
.contact-section{
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 8 1 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
}

div > p:first-of-type{
  font-weight: 700;
  margin-bottom: 10px;
}
div > p:last-of-type{
  margin: 0;
}