<footer class="flex justify-content-center">
    <div class="footer-wrapper flex justify-content-space-between align-items-center">
        <p>Copyrights &#169;2020: Mateřská škola Břest</p>
    </div>
</footer>