footer{
    width: 100%;
    height: 60px;
    background-color: white;
    border: 1px solid var(--border-color);
    border-bottom: 0;
    color: #ccc;
}

.footer-wrapper{
    max-width: var(--skolka-max-width);
}
