<h2 class="hp-title">
    O MŠ Břest
</h2>
<div class="section">
    <h2>Charakteristika MŠ</h2>
    <p>
        Mateřská škola v Břestu je umístěna mimo hlavní silnici v klidném prostředí. Budova je prostorná, postupně se modernizuje, maximální kapacita je 50. dětí. V současné době máme v provozu 2 třídy. Součástí MŠ je výdejna stravy a samostatná jídelna. K budově patří krásná velká zahrada s keři a stromy. Děti zde mají k dispozici dřevěný hrad, houpačky, pískoviště, altán, navezený kopec k bobování, "dopravní hřiště se značkami“ Děti  mají k dispozici koloběžky, autíčka, tříkolky, kola, dostatek potřeb na pískoviště i na hry na trávě (branky, míče, pálky, švihadla, kuželky...). Dřevěný altánek využíváme hlavně v letních měsících kdy většinu času trávíme na zahradě. Nedílnou součástí zahrady je i vysoký komín s čapí rodinkou, která se stala naším maskotem a doprovází nás i Školním vzdělávacím programem. Velkou výhodou naší vesnické MŠ je příroda, která nás obklopuje a skýtá využití různorodých lokalit- louka pole, rybník, les.
    </p>
    <br><br>
    <h2>
        Filozofie MŠ
    </h2>
    <p>
        Filosofií naší mateřské školy je rozvíjet samostatné a zdravě sebevědomé děti cestou přirozené výchovy. Chceme vytvářet stimulující prostředí, které vychází z individuálních potřeb dětí, jejich rozvojových předpokladů a s optimálně stanoveným programem.
        Našim cílem je přispívat k všestrannému rozvíjení osobnosti dítěte. Respektujeme všechny cíle předškolního vzdělávání, které vychází z Rámcového vzdělávacího programu. Stavíme do středu dítě s jeho přirozenými potřebami a jeho postupně se rozšiřující komunikaci se světem.

        Pro dítě předškolního věku je daleko důležitější, jak se v mateřské škole cítí, než jen to, co umí a zná - neboť poznatky je možné doplnit i později, avšak životní zkušenost, resp. pozitivní životní zkušenost, kterou dítě v útlém věku získá, je plnohodnotně nenahraditelná).
        Děti by měly být během dne v pohodě a cítit se bezpečně. Chceme, aby byly aktivními tvůrci.
    </p>
    <br>
    <p>
        Dáme jim možnost uplatnit se po svém DĚTSKY, PŘIROZENĚ A RADOSTNĚ.
        Od toho také vzniklo krédo naší mateřské školy:
        „ABY SE MOHLO DÍTĚ ZDRAVĚ ROZVÍJET, MUSÍ SE CÍTIT SPOKOJENÉ A V BEZPEČÍ“.
    </p>
</div>
