 <ng-container *ngIf="!device; else elseTemplate">
    <div class="flex tab-header-wrapper">
        <div class="flex tab-header" [ngClass]="{'active-tab': (i === currentTab)}" *ngFor="let child of children; let i = index" (click)="currentTab = i">
            <div class="flex align-items-center">{{child.name}}</div>
        </div>
    </div>
</ng-container>
<ng-template #elseTemplate>
    <select name="" id="" (change)="currentTab = getSelectedOption($event)">
        <option *ngFor="let child of children; let i=index" [value]="i" >{{child.name}}</option>
    </select>
</ng-template>
<div class="section">
    <div class="flex column">
        <div class="tab">
            <div *ngFor="let child of children; let i = index">
                <div *ngIf="i === currentTab">
                    <h2>Seznam absence</h2>
                    <table>
                        <tr>
                            <th>Od</th>
                            <th>Do</th>
                            <th>Doplňující text</th>
                        </tr>
                        <tr *ngFor="let item of child.absence">
                            <td>{{item.dateFrom | date:'dd.MM.yyyy'}}</td>
                            <td>{{item.dateTo | date: 'dd.MM.yyyy'}}</td>
                            <td>{{item.text}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
