.tab-header-wrapper{
    margin-left: 30px;
}

.tab-header{
    height: 50px;
    padding: 0 30px;
    border-radius: 10px 10px 0 0;
    margin-right: 10px;
    cursor: pointer;
    background: rgba(238, 238, 238, 0.9);
    position: relative;
    top: 1px;
}

.active-tab{
    background-color:  white;
    border: 1px solid #f2f3f4;
    border-bottom: 0;
    color: #33FF8D;
}

table{
    min-width: 50%;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
}

tr > td:not(td:last-of-type){
    width: 20%;
}

tr > td:last-of-type {
    width: 60%;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #ebebeb;
}
tr > th{
    background-color: #f2f3f4;
}

th, td {
    padding: 10px 15px;
}
