header {
	height: 60px;
	width: 100vw;
	background-color: white;
	border-bottom: 1px solid var(--border-color);
	z-index: 1000;
	top: 0;
	left: 0;
	position: fixed;
	transition: ease-in 350ms;
	color: #96a4b3;
	backdrop-filter: blur(2px);
	// Desktop
	@media screen and (min-width: 1200px) {
		width: 100vw;
	}

	.nav-wrapper {
		margin: auto;
		padding: 0 10px;
		max-width: var(--skolka-max-width);
		height: inherit;
		.nav-button {
			@media screen and (min-width: 1200px) {
				display: none;
			}
			padding: 10px;
		}
		.show-menu {
			@media only screen and (max-width: 1199px) {
				transform: scaleX(1) !important;
			}
		}
		nav, .user-wrapper .sub-menu {
			@media screen and (max-width: 1199px) {
				display: flex;
				flex-direction: column;
				height: calc(100vh - 60px);
				width: 100vw;
				background-color: white;
				position: fixed;
				top: 60px;
				left: 0;
				z-index: 1000;
				transform: scaleX(0);
				transform-origin: right;
				transition: transform 350ms ease-in-out;
			}
		}


		nav, .user-wrapper {
			// Desktop
			@media only screen and (min-width: 1200px) {
				height: 100%;
				& > span {
					position: relative;
					height: 100%;
					&:after {
						display: block;
						content: ' ';
						border-bottom: 3px solid var(--skolka-primary-color);
						transform: scaleX(0);
						transition: transform 350ms ease-in-out;
					}
					&:has(a.active):after, &:hover:after {
						transform: scaleX(1);
					}
					&:has(a.active) > a, &:hover > a {
						color: var(--skolka-primary-color);
					}
					.sign-out:hover {
						.sub-link {
							color: rgba(215, 45, 45, 1);
						}
					}
				}
			}
		}

		a.link, a.sub-link, div.link {
			box-sizing:border-box;
			z-index: 5;
			text-decoration: none;
			// Mobile
			@media screen and (max-width: 1199px) {
				height: 4rem;
				margin: 0 auto;
				border-bottom: 1px solid var(--border-color);
			}
			// Desktop
			@media screen and (min-width: 1200px) {
				height: 100%;
			}

			i {
				margin-right: 5px;
				font-size: 18px;
			}
		}
		a.sub-link, div.sub-link {
			padding: 1rem 0 1rem 1rem;
		}
		a.link, div.link {
			padding: 0 1rem 0 1rem;
		}
		.logo {
			margin-left: 5px;
		}
		.logo-title {
			font-size: 1rem;
			margin-left: 10px;
		}
		.user-text {
			// Mobile
			@media screen and (max-width: 1199px) {
				display: none;
			}
		}

	}

	.show {
		// Mobile
		@media only screen and (max-width: 1199px) {
			transform: scaleY(1) !important;
		}
	}
	.sub-menu {
		// Mobile
		@media only screen and (max-width: 1199px) {
			height: 0;
		}

		transform: scaleY(0);
		transition: all 350ms ease-in-out;
		transform-origin: top;

		// Mobile
		@media screen and (max-width: 1199px) {
			background-color: #f8f8f8;
		}
		// Desktop
		@media only screen and (min-width: 1200px) {
			position: absolute;
			z-index: 1000;
			font-weight: 400;
			background-color: rgba(255, 255, 255, 0.85);
			border: 1px solid rgba(45, 215, 115, 0.22);
			border-top: 0;
			-webkit-box-shadow: 3px 10px 19px -3px rgba(45, 215, 115, 0.22);
			-moz-box-shadow: 3px 10px 19px -3px rgba(45, 215, 115, 0.22);
			box-shadow: 3px 10px 19px -3px rgba(45, 215, 115, 0.22);
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			top: 60px;
			width: 250px;
			& > span {
				&:hover, &:has(a.active) {
					color: var(--skolka-primary-color);
				}
			}
		}
	}
	.link:hover ~ .sub-menu, .sub-menu:hover {
		// Desktop
		@media only screen and (min-width: 1199px) {
			transform: scaleY(1) !important;
		}
	}
}
