<header>
	<div class="nav-wrapper flex justify-content-space-between">
		<div class="flex">
			<span class="flex align-items-center logo clickable" (click)="this.router.navigate(['/']); toggle()">
				<svg width="26.749" height="30" version="1.1" viewBox="0 0 35.665 40" xmlns="http://www.w3.org/2000/svg">
					<g transform="matrix(1.3333 0 0 -1.3333 5.9313 28.973)">
						<g transform="matrix(2.5873 0 0 2.5873 -10.562 -13.969)">
							<path transform="translate(8.0942 6.9561)" d="m0 0c-1.546-0.024-1.662-2.47-1.54-3.607 0.143-1.333 1.399-1.188 1.417-1.08-1.322 0.181-0.866 4.079 0.123 4.687m1.898 5.263s-0.685 0.97-1.891 0.873c-0.877-0.04-1.485-0.728 0.181-2.633 0.472-0.54 1.036-1.21 1.511-1.858 1.923-2.644 0.311-3.247-0.754-1.819-0.209 0.286-0.467 0.627-0.746 0.862-0.387 0.327-0.847 0.443-1.35-0.155-0.421-0.508-0.801-1.084-1.16-1.634-0.148-0.224-0.293-0.449-0.445-0.67-0.413-0.601-0.819-1.116-1.276-1.405-0.934-0.544-1.658 0.365-1.731 0.398 2.543-1.22 3.477 6.472 6.161 3.702 0.309-0.257 0.576-0.616 0.797-0.912 0.714-0.958 0.638 0.021 0.08 1.253-0.739 1.648-1.652 2.049-2.442 3.328-0.271 0.446-0.441 0.923-0.333 1.372 0.091 0.377 0.367 0.635 0.725 0.768 0.344 0.127 0.764 0.142 1.166 0.048 0.714-0.167 1.384-0.678 1.507-1.518" fill="#343434"/>
							<g transform="translate(9.4775 11.357)">
								<path d="m0 0c0.952-0.852 3.434-2.757 3.173-2.232-0.232 0.467-1.582 1.91-2.221 2.579-0.56 0.59-1.937 0.529-0.952-0.347" fill="#de451f" fill-rule="evenodd"/>
							</g>
						</g>
					</g>
				</svg>
				<span class="logo-title">MŠ Břest</span>
			</span>
		</div>
		<nav class="flex"> <!--NavBar-->
			<span *ngFor="let item of this.items">
				<!--NavBar links-->
				<div *ngIf="item.submenu !== undefined"	
						class="link flex align-items-center clickable"
						[ngClass]="{'justify-content-center': device}"
						(click)="toggle($event, false)"
				>
					<span class="flex align-items-center">
						<i class="material-icons">{{item.icon}}</i>
						<span>{{item.name}}</span>
					</span>
				</div>
				<a	*ngIf="item.submenu === undefined"
					[routerLink]="item.link"
					[routerLinkActive]="'active'"
					[routerLinkActiveOptions]="{exact: true}"
					class="link flex align-items-center clickable"
					[ngClass]="{'justify-content-center': device}"
					(click)="toggle($event)"
				>
					<span class="flex align-items-center">
						<i class="material-icons">{{item.icon}}</i>
						<span>{{item.name}}</span>
					</span>
				</a>
				<div class="sub-menu column"
					 [ngClass]="{'flex left': !device}"
					 *ngIf="item.submenu"
				>
					<span *ngFor="let subItem of item.submenu">
						<!--Navbar submenu links-->
						<a [routerLink]="subItem.link"
						   [routerLinkActive]="'active'"
						   [routerLinkActiveOptions]="{exact: true}"
						   class="sub-link flex align-items-center clickable"
						   [ngClass]="{'justify-content-center': device}"
						   (click)="toggle($event)"
						>
							<span class="flex align-items-center">
								<i class="material-icons ">{{subItem.icon}}</i>
								{{subItem.name}}
							</span>
						</a>
					</span>
				</div>
			</span>
		</nav>
		<div class="user-wrapper flex align-items-center"
			[ngClass]="{'justify-content-end': device}"
		>
			<div class="nav-button clickable" (click)="toggle(undefined, false, false, true)">
				<i class="material-icons">menu</i>
			</div>
			<span *ngFor="let item of this.userItems">
				<a class="flex align-items-center"
				   [ngClass]="{'link': !device}"
					[routerLink]="device ? undefined : item.link"
					[routerLinkActive]="'active'"
					[routerLinkActiveOptions]="{exact: true}"
				>
					<span class="flex align-items-center clickable"
						  [ngClass]="{'nav-button': device}"
						  (click)="toggle(undefined, true, true)"
					>
						<i class="material-icons">{{item.icon}}</i>
						<span class="user-text">{{item.name}}</span>
					</span>
				</a>
				<div class="sub-menu flex column right" *ngIf="authService.loggedIn && item.submenu">
						<span *ngIf="device">
							<a [routerLink]="'/muj-profil'"
							   class="sub-link flex align-items-center"
							   (click)="$event.stopPropagation(); toggle($event, !!item.link, true);"
							>Můj profil</a>
						</span>
						<span *ngFor="let subItem of item.submenu">
							<a [routerLink]="authService.loggedIn ? subItem.link : '/prihlaseni'"
							   [routerLinkActive]="'active'"
							   [routerLinkActiveOptions]="{exact: true}"
							   (click)="$event.stopPropagation(); toggle($event, true, true);"
							   class="sub-link flex align-items-center"
							>
								<span class="flex align-items-center">
									<i class="material-icons ">{{subItem.icon}}</i>
									{{subItem.name}}
								</span>
							</a>
						</span>
						<span class="sign-out">
							<div (click)="$event.stopPropagation(); toggle($event, false, true); authService.logOut()"
							   class="sub-link flex align-items-center clickable"
							>
								<span class="flex align-items-center">
									<i class="material-icons ">logout</i>
									Odhlásit
								</span>
							</div>
						</span>
					</div>
			</span>
		</div>
	</div>
</header>
