.checkbox {
	width: 1.3rem;
	height: 1.3rem;
}
label {
	cursor: pointer;
	display: flex;
	align-items: center;
}
label input {
	margin-right: 0.5rem;
}

.checkbox-label {
	font-size: 16px;
	line-height: 18px;
	width: 100%;
	clear: both;
}

input[type="checkbox"] {
	appearance: none;
	-moz-appearance: none;
	width: 1.3rem;
	height: 1.3rem;
	&:checked::after {
		content: "✓";
	}
	&::after {
		cursor: pointer;
		color: var(--skolka-primary-color);
		content: " ";
		font-size: 18px;
		border: 1px solid var(--skolka-primary-color);
		border-radius: 5px;
		visibility: visible;
		display: flex;
		justify-content: center;
		visibility: visible;
		background-color: white;

		width: 100%;
		height: 100%;
	}
}
