input[type="text"], input[type="date"]{
	border: 1px solid #f2f3f4;
	border-radius: 10px;
	padding: 10px 0px 10px 0px;
	align-items: center;
	background-color: white;
	font-size: 1rem;
	font-family: 'Nunito', sans-serif;
	margin-bottom: 15px;
	text-align: center;
	transition-duration: .5s;
	&:hover, &:focus, &:active{
		border: 1px solid #33FF8D;
		outline-width: 0;
	}
	width: 100%;
}
