.widget{
	border-radius: var(--radius);
	border: 1px solid ;
	background-color: white;
	margin: 5px;
	transition: 350ms;
	&:hover {
		transform: scale(1.2);
	}
}

.folder{
	width: 140px;
	height: 140px;
	overflow: hidden;
	box-sizing: border-box;
}

.image{
	width: 140px;
	height: 140px;
	overflow: hidden;
	box-sizing: border-box;
}

.video{
	width: 300px;
	height: 300px;
}

.widget img{
	max-height: 140px;
	width: 140px;
	object-fit: contain;
}
