<h2 class="hp-title">Školní vzdělávací program</h2>
<div class="section">
    <p>
        je zpracován v souladu s obecně platnými právními předpisy a jeho základním
        východiskem je Rámcový vzdělávací program pro předškolní vzdělávání
        č,j.: 32 405/ 2004-2,ve znění pozdějších předpisů.
    </p>
    <p>
        ŠVP  byl vypracován pod motivačním názvem ,,PUTOVÁNÍ S ČÁPEM EMANEM“, neboť již řadu let na komíně  MŠ  žije párek čápů a stali se tak nedílnou součástí života naší MŠ. Od jejich příletu až do odletu je pozorujeme, hovoříme o nich, dali jsme jim jména. A tak vznikl nápad, aby nás čáp provázel i ŠVP
    </p>
    <p>
        ŠVP PUTOVÁNÍ S ČÁPEM EMANEM

        jsme rozdělili na 3 velké tematické celky
    </p>
    <p>
        ,,Eman vypráví o životě na zemi, ve vzduchu a ve vodě“

        záměrem bude poznání přírody, přírodních jevů, ekosystémů, zaměříme se na ekologii. Děti se stanou malými přírodovědci, kteří v terénu pozorují, objevují, zkoumají krásy a zákonitosti přírody.
    </p>

    <p>
        Putování s čápem Emanem aneb S tebou školko teď, chtěl bych poznat svět

        hlavním záměrem je multikulturní výchova, cestování po světě  a  poznání života lidí, dětí, jejich her, kultury, přírody…  Nedílnou součástí je i cesta do vesmíru, pochopení základních  přírodních zákonitostí.
    </p>
    <p>
        ,,Všude dobře, doma nejlépe“

        tímto tématem chceme přispět k poznání naší Hané. Seznámit děti se současnou obcí, její  historií, tradicemi, zvyky, životem lidí u nás na Hané. Vytvořit tak kladný vztah k rodné vsi u našich dětí.
    </p>
    <br>
    <hr>
    <br>
    <h2>
        „Celé Česko čte dětem“
    </h2>
    <p>
        Posláním projektu je prostřednictvím společného čtení budovat pevné vazby v rodině. Proto prosíme i rodiče, aby se zapojily do projektu také. Pravidelné předčítání dětem má obrovský význam pro rozvoj jejich emocionálního zdraví. Předčítání rozvíjí paměť a představivost, učí myšlení. Předčítání utváří pevné pouto mezi rodičem a dítětem. My neříkáme "Jdi a čti si!", ale "Pojď, budu ti  číst".
        Čtení je osvědčený způsob, jak vzbudit u dětí zájem o knihy, rozvíjet jejich potřebu číst, vychovávat z nich čtenáře. Výzkumy dokazují, že čtenáři - lidé, kteří hodně a rádi čtou - dosahují lepších studijních a pracovních výsledků než „nečtenáři" a dokážou si lépe poradit s životními výzvami.

        Návyky, postoje a žebříček hodnot se přece utvářejí již v dětství. Dnešní děti vyrůstají v jazykově chudém prostředí. Kontakt s živým slovem vytlačila televize, jejímž nástrojem není jazyk, ale obraz.

        Láska ke knize by měla být rozvíjena již v dětství, a to pravidelným hlasitým předčítáním.
    </p>
    <h2>SE SOKOLEM DO ŽIVOTA aneb</h2>
    <p>
        ,, Svět nekončí za vrátky, cvičíme se zvířátky “
        Rádi bychom podpořili zájem dětí o aktivní pohyb. Plněním jednotlivých úkolů by mělo dětem přinášet radost, potěšení z pohybu. Děti se naučí překonávat překážky, zdokonalí své pohybové dovednosti a naučí se týmové spolupráci.
    </p>
    <h2>Zdravý úsměv</h2>
    <p>
        – cílem je naučit děti správné péči o svůj chrup, naučí se správné technice čištění zubů a významu zdravého stravování na správný vývoj dětského chrupu.
    </p>
</div>
