<h2 class="hp-title">Aktuality</h2>
<div *ngFor="let novelty of news" class="section news-wrapper">
    <h3>{{novelty.title}}</h3>
	<div class="article" [innerHTML]="novelty.text"></div>
	<br>
    <div class="images" *ngIf="novelty.files">
        <div class="flex">
            <a [href]="file.src" *ngFor="let file of novelty.images">
                <img class="image"
                    *ngIf="file.type.includes('image')"
                    [src]="file.src" alt="">
            </a>
        </div>
        <br>
        <div *ngIf="novelty.documents !== undefined">
            <h4 *ngIf="novelty.documents.length > 0">Dokumenty</h4>
            <div *ngFor="let file of novelty.documents">
                <a class="flex align-widgets-center document" [href]="file.src">
                    <i class="material-icons">description</i>
                    {{file.name}}
                </a>
            </div>
        </div>
    </div>
    <div class="date flex align-items-center" *ngIf="novelty.date">
        <i class="material-icons">schedule</i>
        <span>{{novelty.date}}</span>
    </div>
</div>
