h4 {
	margin: 0 0 0 5px;
}
.widget-title {
	margin-top: 20px;
	.material-icons {
		font-size: 16px;
	}
}

.widget-wrapper {
	height: 400px;
	position: relative;
}

.article {
	margin-top: 20px;
	max-height: 240px;
	overflow-y: auto;
}

.indicator-wrapper {
	width: 100%;
	position: absolute;
	bottom: 20px;
}

.indicator-section{
	color: var(--grey);
	margin-top: 20px;
	width: fit-content;
	i{
		cursor: pointer;
	}
}
.indicator {
	background-color: var(--grey);
	width: 30px;
	height: 4px;
	cursor: pointer;
}

.indicator:not(.active):hover {
	transform: scale(1.1);
	background-color: var(--dark-grey);
}

.indicator.active{
	background-color: var(--skolka-primary-color);
	height: 4px;
	transition: all 250ms ease-in;
}

.play{
	color: var(--skolka-primary-color);
}
.vline{
	border: 1px solid var(--border-color);
	height: 20px;
}

p{
	line-height: 1.8;
	text-align: justify;
}

.document{
	margin-block: 5px;
	& > i {
		margin-right: 5px;
	}
}

.image{
	max-height: 400px;
	margin-right: 10px;
}
