<div class="section widget-wrapper">
	<div class="widget-title flex align-items-center">
		<span class="material-icons">newspaper</span>
		<h4>{{title}}</h4>
	</div>
	
	<div *ngFor="let widget of widgets; let index = index;"
		[@carouselAnimation]="currentSlide"
	>
		<div *ngIf="index === currentSlide">
			<h3>{{widget.title}}</h3>
			<div class="article" [innerHTML]="widget.text"></div>
			<br>
			<div class="images" *ngIf="widget.files">
				<div class="flex">
					<a [href]="file.src" *ngFor="let file of widget.images">
						<img class="image"
							*ngIf="file.type.includes('image')"
							[src]="file.src" alt="">
					</a>
				</div>
				<br>
				<div *ngIf="widget.documents !== undefined">
					<h4 *ngIf="widget.documents.length > 0">Dokumenty</h4>
					<div *ngFor="let file of widget.documents">
						<a class="flex align-widgets-center document" [href]="file.src">
							<i class="material-icons">description</i>
							{{file.name}}
						</a>
					</div>
				</div>
			</div>
			<div class="date flex align-items-center" *ngIf="widget.date">
				<i class="material-icons">schedule</i>
				<span>{{widget.date}}</span>
			</div>
		</div>
	</div>


	<div class="flex indicator-wrapper justify-content-center" 
		*ngIf="indicatorEnabled"
	>
		<!--<i class="material-icons "
		   [ngClass]="{'play': isPaused === true}"
		   (click)="selectSlide()">
			{{isPaused ? "play_arrow" : "pause"}}
		</i>
		<div class="vline"></div>-->
		<div class="flex justify-content-center align-items-center indicator-section"
			*ngIf="widgets.length > 0"
		>
			<div class="indicator flex"
				*ngFor="let data of widgets; let index = index"
				[class.active]="currentSlide === index"
				(click)="selectSlide(index)"
			></div>
		</div>
	</div>
</div>
