<h2 class="hp-title">Přijímací řízení</h2>
<div class="section">
    <div class="link">
        <i class="material-icons">insert_drive_file</i>
        <a href="https://firebasestorage.googleapis.com/v0/b/skolka-brest.appspot.com/o/Documents%2FP%C5%99ij%C3%ADmac%C3%AD%20%C5%99%C3%ADzen%C3%AD%2FInfo.docx?alt=media&token=566c7f89-a148-4da3-a69c-aec8b0e75b20">Informace k přijímacímu řízení</a>
    </div>
    <div class="link">
        <i class="material-icons">insert_drive_file</i>
        <a href="https://firebasestorage.googleapis.com/v0/b/skolka-brest.appspot.com/o/Documents%2FP%C5%99ij%C3%ADmac%C3%AD%20%C5%99%C3%ADzen%C3%AD%2F%C5%BD%C3%A1dost%20o%20p%C5%99ijet%C3%AD%202020-21.docx?alt=media&token=dd955fd0-58bd-4e58-99f3-3d46084e75bc">Žádost o přijetí</a>
    </div>

</div>
