@import "common/styles/checkbox";
@import "common/styles/widget";
@import "common/styles/input";

:root {
	--skolka-max-width: 1400px;
	--radius: 10px;
	--skolka-primary-color: #2DD773FF;
	--border-color: #f2f3f4;
	--grey: #dedede;
	--dark-grey: #d1d1d1;
	--text-color: #444444;
	--link-color: #96a4b3;
}

*:focus{
	outline: none;
}
html, body { height: 100%; }
body {
	position: relative;
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	color: var(--text-color);
}
body:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: .4;

	background-image: url("/assets/bg2.JPG");
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
}
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.17rem; }
h4 { font-size: 1rem; }
h5 { font-size: 0.83rem; }
h6 { font-size: 0.67rem; }

a {
	text-decoration: none;
	color: var(--link-color);
}
.mat-snack-bar-container{
	background-color: var(--skolka-primary-color) !important;
	color: white !important;
}

.container{
	@media screen and (min-width: 1200px) {
		padding: 120px 10px 40px 10px;
	}
	@media screen and (max-width: 1199px) {
		padding: 70px 10px 40px 10px
	}
	max-width: var(--skolka-max-width);
	min-height: calc(100vh - 220px);
	margin: auto;
	position: relative;
}
.content{
	margin-bottom: 20px;
	backdrop-filter: blur(2px);
}
.wrapper{
	max-width: var(--skolka-max-width);
	width: 100%;
	height: 100%;
}
.section{
	background-color: white;
	border-radius: var(--radius);
	border: 1px solid var(--border-color);
	min-height: 200px;
	padding: 0 2rem 1rem 2rem;
	box-sizing: border-box;
	line-height: 1.5;
}

.date{
	color: var(--grey);
	font-size: 0.83rem;
}

ul {
	padding-left: 0;
	margin: 0;
}

.clickable {cursor: pointer !important;}
.left {left: 0;}
.right {right: 0;}

.flex{display: flex;}
.row{flex-direction: row;}
.column {flex-direction: column;}
.wrap {flex-wrap: wrap;}
.no-wrap {flex-wrap: nowrap;}
//align-items
.align-items-flex-start{align-items: flex-start;}
.align-items-flex-end{align-items: flex-end;}
.align-items-center{align-items: center;}
.align-items-stretch{align-items: stretch;}
// Align-content
.align-content-space-around{align-content: space-around;}
.align-content-space-between{align-content: space-between;}
.align-content-stretch{align-content: stretch;}
.align-content-flex-end{align-content: flex-end;}
.align-content-flex-start{align-content: flex-start;}
.align-content-center{align-content: center;}
// justify-content
.justify-content-space-between{justify-content: space-between;}
.justify-content-space-evenly{justify-content: space-evenly;}
.justify-content-space-around{justify-content: space-around;}
.justify-content-flex-start{justify-content: flex-start;}
.justify-content-flex-end{justify-content: flex-end;}
.justify-content-center{justify-content: center;}
