.center{
  text-align: center;
}

i {
  margin-right: 20px;
  color: #ccc;
}

.list{
  border: 1px solid #f2f3f4;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
}

.list-item{
  &:not(:last-of-type){
      border-bottom: 1px solid #f2f3f4;
  }
  padding: 20px 20px;
  font-weight: 600;
  &:hover{
      background-color: #f2f3f4;
  }
}

.document-title{
  color: #333;
  text-decoration: none;
}
