<h2 class="hp-title">Dokumenty</h2>
<div class="section flex wrap">
    <div class="list" *ngIf="folders !== undefined || documents !== undefined">
        <div class="row flex list-item align-items-center justify-content-space-between" *ngFor="let item of folders; let i = index">
            <a class="document-title flex align-items-center" [routerLink]="['/dokumenty', path + '/' + item.name]" *ngIf="item.name">
                <i class="material-icons">folder</i>  {{item.name}}
            </a>
        </div>
        <div class="row flex list-item align-items-center justify-content-space-between" *ngFor="let file of documents">
            <a class="document-title flex align-items-center" [href]="file.src">
                <i class="material-icons">text_snippet</i>  {{file.name}}
            </a>
        </div>
    </div>
</div>

