<h2>Přidat absenci</h2>
<div class="section">
	<form #form="ngForm" autocomplete="off" (submit)="onSubmit()">
		<div class="form-section">
			<div class="form-title">Omlouvám</div>
			<div class="flex column">
				<label class="checkbox-label" *ngFor="let child of children; let i = index;">
					<input type="checkbox"
						class="checkbox"
						[(ngModel)]="arrayOfChoosenChildren[i].checked">
					{{child.name}}
				</label>
			</div>
			<hr>
			<div class="flex">
				<label class="checkbox-label">
					<input type="checkbox"
						class="checkbox"
						[checked]="allCheck"
						(change)="allCheck = !allCheck; toggleChecks()">
					Označit všechny
				</label>
			</div>

		</div>
		<div class="form-section">
			<div class="flex column item">
				<label for="dateFrom" >Od</label>
				<input #dateFrom type="date" id="dateFrom" (change)="absence.dateFrom = getDate($event)">
			</div>
			<div class="flex column item">
				<label for="dateTo">Do</label>
				<input #dateTo type="date" id="dateTo" [min]="dateFrom.value" (change)="absence.dateTo = getDate($event)">
			</div>
			<div class="flex column item">
				<label for="text">Text <span class="required">*nepovinné</span></label>
				<textarea #text name="text" id="text" rows="5" [value]="absence.text" (change)="absence.text = getValue($event)"></textarea>
			</div>
			<div class="item">
				<button type="submit">Přidat absenci</button>
			</div>
		</div>
	</form>
</div>
