textarea{
	max-width: 100%;
}
.form-title {
	margin-bottom: 5px;
}
.form-section{
	width: max-content;
	@media screen and (min-width: 800px){
		width: 50%;
	}
	max-width: 100%;
	margin-bottom: 20px;
}
hr{
	margin: 10px 0;
	border-top: 0px solid #f2f3f4;
	color: #f2f3f4;
}

input[type="date"], textarea, button[type="submit"]{
	padding: 10px;
	border-radius: 10px;
	background: white;
	border: 1px solid #ccc;
	&:hover,&:focus {
		border: 1px solid #33FF8D;
	}
}

button[type="submit"]{
	&:hover{
		background: #33FF8D;
		color: white;
	}
}

.item{
	margin-bottom: 10px;
}

.required{
	font-size: 10px;
	color: red;
	vertical-align: super;
}

.input-title {
	clear: both;
	margin-left: 10px;
	font-size: 16px;
	color: #333;
	font-weight: 300;
}

/* Styling Checkbox Starts */


.checkbox-label .checkbox-custom {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 18px;
	width: 18px;
	background-color: white;
	border-radius: 5px;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	border: 1px solid #33FF8D;
}


.checkbox-label input:checked ~ .checkbox-custom {
	background-color: #33FF8D;
	border-radius: 5px;
	-webkit-transform: rotate(0deg) scale(1);
	-ms-transform: rotate(0deg) scale(1);
	transform: rotate(0deg) scale(1);
	opacity:1;
}

.checkbox-label .checkbox-custom::after {
	position: absolute;
	content: "";
	left: 5px;
	top: 0px;
	height: 0px;
	width: 0px;
	border-radius: 5px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(0deg) scale(0);
	-ms-transform: rotate(0deg) scale(0);
	transform: rotate(0deg) scale(0);
	opacity:1;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
	-webkit-transform: rotate(45deg) scale(1);
	-ms-transform: rotate(45deg) scale(1);
	transform: rotate(45deg) scale(1);
	opacity:1;
	width: 6px;
	height: 12px;
	border: solid white;
	border-width: 0 1px 1px 0;
	background-color: transparent;
	border-radius: 0;
}

/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
	position: absolute;
	content: "";
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	border-radius: 5px;
	border: 2px solid  #33FF8D;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.checkbox-label input:checked ~ .checkbox-custom::before {
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
	border-radius: 5px;
	-webkit-transform: scale(3);
	-ms-transform: scale(3);
	transform: scale(3);
	opacity:0;
	z-index: 999;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
